<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.txconsumer.dao.OrderBaseMapper">
  <resultMap id="BaseResultMap" type="com.matrix.txconsumer.entity.OrderBase">
    <!--@mbg.generated-->
    <!--@Table order_base-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_no
  </sql>
</mapper>