<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.txconsumer.dao.TblPointsMapper">
  <resultMap id="BaseResultMap" type="com.matrix.txconsumer.entity.TblPoints">
    <!--@mbg.generated-->
    <!--@Table tbl_points-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, order_no, points, remarks
  </sql>
</mapper>